##  Markdown edits example

- List
- **Bold List**
- _Italic List_

- Y - Make it a code
- M - Markdown file
- Enter - edit mode
- Escape - escape mode

In [3]:
print('hello world')

hello world

## Data Types

- Why do they matter? 
    - Working with operators it is important. Some operators wotk with certain data types
    - If opperations on different data types are done, then we get a _TypeError_

In [4]:
type(1)

int

In [5]:
type('1')

str

In [ ]:
# Changing types 
n = 12
m = str(12)

**Data Structure**
- Data Frame is a is a data structure that organizes data into a 2-dimensional table of rows and columns, much like a spreadsheet.
- DataFrames are one of the most common data structures used in modern data analytics because they are a flexible and intuitive way of storing and working with data.

## Comparison and logical operators

In [8]:
x = True
y = False

x+y

1

In [9]:
# Logical operators 
True and True

True

## Lists with different variable types
- list is a data type as a combination of multiple elements 
- can store any kind of data

In [13]:
my_list = [1,2,3, 'a', 'm']

In [16]:
my_list[3]
type(my_list[3])

str

In [24]:
# Create a list of lists 

my_list = [[1,'a'], [2,'b'],[3,'c']]
my_list[0]

[1, 'a']